/***********************************************************************
 * Style for the main window (mainly the sidebar)
 **********************************************************************/

#pulp-sidebar {
    background-color : #A0BACE;
    padding          : 10px;
    border-right     : 1px solid black;
    border-top       : none;
    border-bottom    : none;
    border-left      : none;
}

#pulp-sidebar treeview {
    padding          : 5px;
    border-bottom    : 1px solid #555;
    color            : #728E9D;
    background-color : #A0BACE;
}

#pulp-sidebar treeview:selected {
    background-color : #A0BACE;
    color            : black;
}

#pulp-sidebar entry {
    border : 1px solid black;
}

#pages-label, 
#separator-label {
    background-color : #A0BACE;
    padding-top      : 15px;
}

/***********************************************************************
 * Style for the bibtex window
 **********************************************************************/

.bib-window .outer-frame {
    padding: 10px;
    border: none;
}

.bib-window .outer-frame.personal {
    padding-right: 5px;
}

.bib-window .outer-frame.online {
    padding-left: 5px;
}

.bib-window textview {
    padding: 3px;
}

.bib-window .personal .inner-frame {
    padding-right: 5px;
    border-bottom: none;
}

.bib-window .title-label {
    padding-bottom: 3px;
}

.bib-window .modified,
.bib-window .modified text {
    background-color: #FCF5E4;
}

/*
.bib-window .modified:selected text {
    background-color: #4A90D9;
}
*/

.bib-window .save-bar {
    padding-top: 5px;
    border: none;
}

